/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    /*background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );*/
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    /*text-transform:uppercase;*/
    width:100%;
    background-color:#3284bf;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.horizontal-center{
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.splash-div{
    margin-top:10%;
}

.splash-logo{
    margin-bottom:4%;
}

.gray-div{
    background-color:#f2f2f2;
    border-style:solid;
    border-width:1px;
    border-color:#bfbfbf;
    margin:auto;
    width:70%;
    padding:3%;
    display:block;
}

.textbox{
    padding:15px;
    width:90%;
    margin-top:1%;
    margin-bottom:1%;
    display:block;
}

.ajax-spinner{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5); /*dim the background*/

}

.header-text{
    color:#fff;
    font-size:large;
    margin-left:2%;
    vertical-align:bottom;

}

.header-div{
    padding-top:1%;
    padding-left:2%;
    padding-right:2%;
    width:100%;
}

.header-logo{
    width:6%;
    height:auto;
}

.bold-instruction{
    text-align:center;
    color:#fff;
    font-size:xx-large;
    font-weight:bold;
    margin-top:10%;
}

.link-gold{
    color:#ffbf63;
    text-decoration:underline;
}

.link-blue{
    color:#3284bf;
    text-decoration:underline;
}

.div-white-body{
    background-color:#ffffff;
    padding:50px;
    margin-top:20px;
    font-size:medium;
    color:#000;
}

div.div-white-body span,p,div{
    color:#000;
}

.invisible{
    display:none;
}

.long-button{
    width:90%;
    display:block;
    margin-bottom:40px;
}

.center-text { 
    text-align: center;
    padding:2%
}

.clear-margin-padding{
    margin:0px;
    padding:0px;
}

.off-screen-below{
    top:100%;
    position:absolute;
}

.login-textbox{
    font-size:medium;
}

div.gray-div button{
    width:90%;display:block;margin-bottom:40px;
}

div.gray-div + div.gray-div{
    margin-top:3%;
}

.spinner{
    width:3%;
    height:auto;
}

.form-table-label{
    font-weight:bold;
    margin-right:1%;
}

#success{
    color:green;
}

#failed{
    color:red;
}

.error-text{
    color:red !important;
}

#btn_override{
    vertical-align:bottom;
    margin-left:2%;
    margin-right:3%;
}

.form-table{
    width:70%;
}

.form-table td{
    padding:1%;
}
