<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="edu.ucla.sait.lobby.plugins.CardReader"
    version="1.0.0">
    <name>CardReader</name>
    <description>run Magtek card reader</description>
    <license>MIT</license>
    
    <js-module src="www/CardReader.js" name="CardReader">
        <clobbers target="window.cardreader" />
    </js-module>
    
    <platform name="ios">
        <config-file target="Lobby/config.xml" parent="/*">
            <feature name="CardReader">
                <param name="ios-package" value="CardReader" />
            </feature>
        </config-file>
        <header-file src="src/ios/MTSCRA.h"/>
        <header-file src="src/ios/CardReader.h"/>
        <source-file src="src/ios/CardReader.m"/>
        <source-file src="src/ios/libMTSCRA.a" framework="true" />
        <framework src="AVFoundation.framework" />
        <framework src="libstdc++.dylib" />
        <framework src="MediaPlayer.framework" />
        <framework src="Foundation.framework" />
        <framework src="UIKit.framework" />
        <framework src="CoreGraphics.framework" />
        <framework src="ExternalAccessory.framework" />
    </platform>
    
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CardReader" >
                <param name="android-package" value="edu.ucla.sait.lobby.CardReader"/>
            </feature>
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.RECORD_AUDIO"></uses-permission>
            <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"></uses-permission>
        </config-file>
        <source-file src="src/android/CardReader.java" target-dir="src/edu/ucla/sait/lobby" />
        <source-file src="src/android/magtek-scra.jar" target-dir="libs" framework="true" />
    </platform>
    
</plugin>

