/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    /*background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );*/
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    /*text-transform:uppercase;*/
    width:100%;
    background-color:#3284bf;
    position:fixed;

}

/*Override jquery ui*/
li.ui-menu-item:hover, li.ui-menu-item:active{
    background:none !important;
    border:0 !important;
}

.select-combo-box{
    width:100% !important;
    height:2.5em !important;
}

.select-combobox-button{
    background-image:none !important;
    border-left:0 !important;
    height:2.7em !important;
    width:10% !important;
}

.select-combobox-input{
    height:2.5em !important;
    width:84% !important;
    border-radius:0 !important;
    border: 1px solid #d3d3d3 !important;
}

.ui-autocomplete{
    font-size:1.7em !important;
}

.ui-corner-all{
    border-radius:0 !important;
}

.ui-dialog{
    padding:0 !important;
    width:40% !important;
    top:40% !important;
    left:30% !important;
    position: relative !important;
}

.ui-widget-header{
    border:0 !important;
    font-weight:normal !important;
    display:none;
}

.ui-dialog-content{
    min-height:initial !important;
}

div.ui-dialog-buttonpane button.modal-single-button{
    margin:0;
    padding:1em;
    width:100%;
    border:0;
    /*border-top:0;
    border-right:0;
    border-bottom:0;*/
    background:none;
    color:#3284bf;

}

div.ui-dialog-buttonpane button:focus{
    outline:0;
}

div.ui-dialog-buttonpane button.modal-double-button-left{
    margin:0;
    padding:1em;
    width:50%;
    border:0;
    background:none;
    color:#3284bf;

}

div.ui-dialog-buttonpane button.modal-double-button-right{
    margin:0;
    padding:1em;
    width:50%;
    border-top:0;
    border-right:0;
    border-bottom:0;
    background:none;
    color:#3284bf;

}

div.ui-dialog-buttonpane button.important{
    font-weight:bold !important;
}

.ui-dialog-buttonpane{
    padding:0 !important;
}

.ui-dialog-buttonset{
    width:100%;
}

/*end jquery ui*/

.scrollable{
    position:initial !important;
}

.molecules-bg{
    background-image:url(../img/molecules-combined.png) !important;
    background-repeat:no-repeat;
    background-position:center top;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.horizontal-center{
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.splash-div{
    top:50vh;
    bottom:0;
    position:absolute;

}

.splash-logo{
    margin-bottom:5% !important;
    margin-top:-20% !important;
}

.gray-div{
    background-color:#f2f2f2;
    border-style:solid;
    border-width:1px;
    border-color:#bfbfbf;
    margin:auto;
    width:80%;
    padding:3%;
    display:block;
}

.div-white-body-interior{
    width:50%;
    margin-left:auto;
    margin-right:auto;
}

.div-white-body-interior button{
    margin-right:8%;
}

@media screen and (max-width: 768px)
{
    .gray-div{
        /*width:400px;*/
    }
    
    .div-white-body{
        /*padding-right:50px;*/
    }

    .div-white-body-interior{
        width:100%;
    }
    
    .header-text{
        font-size:large !important;
    }
    
    .ui-dialog{
        width:60% !important;
        left:20% !important;
    }
}

@media screen and (max-height:601px)
{
    .center-text{
        padding:2% !important;
    }
}

.textbox{
    padding:15px;
    width:90%;
    margin-top:1%;
    margin-bottom:2% !important;
    display:block;
    height:2.5em !important;
    border-radius:0px !important;
    font-size:150% !important;
}

div.div-white-body-interior .textbox{
    font-size:100% !important;
}

.small-textbox
{
    font-size:100% !important;
    width:100% !important;
    display: block;
}

.ajax-spinner{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0, 0.5) !important; /*dim the background*/
  background-image: url(../img/BG-spinner.gif) !important;
  background-size: 3% auto;
  background-repeat:no-repeat;
  background-position:center center;
}

.ajax-spinner .container{
    opacity:0.3;
}

.header-text{
    color:#fff;
    font-size:x-large;
    margin-left:2%;
    vertical-align:bottom;

}

.header-div{
    padding-top:2%;
    margin-left:2%;
    margin-right:2%;
    margin-bottom:2%;
    width:96%;
}

.header-logo{
    width:6%;
    height:auto;
}

.bold-instruction{
    text-align:center;
    color:#fff;
    font-size:xx-large;
    font-weight:bold;
    margin:0 !important;
}

.link-gold{
    color:#ffbf63;
    text-decoration:underline;
}

.link-blue{
    color:#3284bf;
    text-decoration:underline;
}

.div-white-body{
    background-color:#ffffff;
    padding:5%;
    font-size:medium;
    color:#000;
    position:fixed;
    width:91%;
    /*height:40%;*/
    bottom:0;
    top:50px;
    z-index:-1;
}

.div-gray-body{
    background-color: #f2f2f2 !important;
}

div.div-white-body span,p,div{
    color:#000;
}

.invisible{
    display:none !important;
}

.long-button{
    width:90%;
    display:block;
    margin-bottom:40px;
}

.center-text { 
    text-align: center;
    padding:7%
}

.clear-margin-padding{
    margin:0px;
    padding:0px;
}

.off-screen-below{
    top:100%;
    position:absolute;
}

.login-textbox{
    font-size:medium;
}

.link-button{
    background-color:#3284bf !important;
    border:none !important;
    color:#fff !important;
    background-image: none !important;
    height:2em;
    fon-size:large !important;
    float:right;
}

.link-button:hover, .link-button:active{
    box-shadow:none !important;
}

div.white-button button{
    width:91.5%;
    display:block;
    margin-bottom:3%;
    margin-top:5%;
    height:3.5em;
    background-color:#ffffff !important;
    border:none !important;
    color:#3284bf !important;
    background-image: none !important;
    font-size:150% !important;
}

div.white-button button:active, div.white-button button:hover{
    background-color:#cccccc !important;
}

div.div-white-body-interior button, div.gray-div button{
    width:91.5%;
    display:block;
    margin-bottom:3%;
    margin-top:5%;
    height:3.5em;
    background-color:#3284bf !important;
    border:none !important;
    color:#fff !important;
    background-image: none !important;
    font-size:150% !important;
}

div.gray-div button:active, div.gray-div button:hover, div.div-white-body-interior button:active, div.div-white-body-interior button:hover{
    background-color:#286998 !important;
}

div.gray-div + div.gray-div{
    margin-top:3%;
}

.spinner{
    width:3%;
    height:auto;
}

.form-table-label{
    font-weight:bold;
    padding-top:2%;
}

#success{
    color:green;
}

#failed{
    color:red;
}

.error-text{
    color:red !important;
}

#btn_override{
    vertical-align:bottom;
    margin-left:2%;
    margin-right:3%;
}

.form-table{
    width:90%;
    margin:3%;
}

.form-table tr{
    height:2em;
}

.form-table td{
    padding:1%;
}

#close-link{
    margin-right:5%;
    float:right;
    color:white;
}

.cancel-link{
    color:white;
    font-size:large;
}

.login-image{
    width:100%;
    margin-top:-5%;
}

.half-div{
    height:50%;
    padding:0;
    top:auto;
    width:100%;
}

.panel-button{
    margin:0;
    width:100%;
    border-radius:0 !important;
    height:4em;
    background-color:#EAEFF5 !important;
    color:#464749l !important;
    /*background-image: none !important;*/
    border-color:#8C8F93 !important;
    text-align:left !important;
    font-weight:bold !important;
    font-size:150% !important;
}

.panel-button:active, .panel-button:hover{
    background-color:#BBBFC4 !important;
}

.arrow{
    float:right;
    font-size:xx-large;
}

#div_logon{
    margin-top:7%;

}

.reasons-form{
    font-size:x-large;
    line-height:150%;
}

.small-button{
    background-color:white !important;
    border-color:#3284bf !important;
    color:#3284bf !important;
    margin-left:6% !important;
    margin-right:6% !important;
    background-image:none !important;
}

.container{
    margin:0 !important;
    width: 100% !important;
    /*overflow-y:hidden;*/
}

.panel-button-div{
    position:fixed;
    bottom:0;
    width:100%;
}

.absolute-center{
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height:7%;
}

div.dialog-modal-container .textbox{
    font-size:100% !important;
    margin-top:1em !important;
    margin-right:0 !important;
    margin-left:0 !important;
}

table#event_table.form-table
{
    font-size:1.5em;
}








